@model LogToday.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPurpose.cshtml";
}

<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="basic-login">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe) Mantenha-me conectado
                            </label>
                            @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword", null, new { @class = "forgot-password" })
                            <button type="submit" class="btn pull-right">Login</button>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-7 social-login">
                <p>Ou utilize uma conta para login</p>
                @Html.Partial("_ExternalLoginsListPartial", new LogToday.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                <div class="clearfix"></div>
                <div class="not-member">
                    <p>Não é membro? @Html.ActionLink("Registre-se aqui ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




