@model LogToday.Models.ScheduleIndexViewModel
@{
    ViewBag.Title = "Timer";
    Layout = "~/Views/Shared/_LayoutDevOops.cshtml";
}

@section styles{
    <link rel="stylesheet" media="print" href="@Url.Content("~/plugins/fullcalendar/fullcalendar.print.css")" />
    <style>
        #modalbox .devoops-modal-inner {
            padding: 0 0 15px 0;
        }
    </style>
}

<!--Start Breadcrumb-->
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
            <li>@Html.ActionLink("Agenda", "Index", "Schedule")</li>
        </ol>
    </div>
</div>
<!--End Breadcrumb-->

<div id="dashboard-header" class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box" style="opacity: 1; z-index: 1999; left: 0px; top: 0px;">
            <div class="box-header">
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <div class="row full-calendar">
                    <div class="col-sm-12">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalbox">
    <div class="devoops-modal">
        <div class="devoops-modal-header">
            <div class="modal-header-name">
                <span>Basic table</span>
            </div>
            <div class="box-icons">
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="devoops-modal-inner">
            <form id="event_form">
                <div class="form-group has-success has-feedback">
                    <div class="col-sm-12">
                        @Html.LabelFor(model => model.CustomerId, "Cliente")
                        @Html.DropDownListFor(model => model.CustomerId, Model.Customers, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group has-success has-feedback">
                    <div class="col-sm-12">
                        @Html.LabelFor(model => model.ProjectId, "Projeto")
                        @Html.DropDownListFor(model => model.ProjectId, Model.Projects, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group has-success has-feedback">
                    <div class="col-sm-12">
                        @Html.LabelFor(model => model.ModuleId, "Módulo")
                        @Html.DropDownListFor(model => model.ModuleId, Model.Modules, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group has-success has-feedback">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.InitialTime, "Início")
                        @Html.TextBoxFor(model => model.InitialTime, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.FinalTime, "Fim")
                        @Html.TextBoxFor(model => model.FinalTime, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group has-success has-feedback">
                    <div class="col-sm-12">
                        @Html.LabelFor(model => model.Description, "Descrição")
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Descrição", id = "newevent_desc", rows = "3" })
                    </div>
                </div>
            </form>
        </div>
        <div class="devoops-modal-bottom">
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render(LogToday.BundleConfig.ViewsBundles.BUNDLES_SCHEDULE_INDEX)
}





